<div class="container">
    <div class="row p-5 bg-success">
        <div class="col-lg-4 text-light">

         <h3>Cookpedia</h3>
         <p class="mt-3">Discover 100+ receipes in your hand with the best receipe help you to find the essesit way to cook</p>

        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-6">
            <h3>Sign up for our news letter</h3>
             <div class="mt-3 d-flex">
                <input type="text" placeholder="E mail" class="form-control">
                
                <button class="btn ms-2" style="background-color: rgb(13, 184, 13);"><i class="fa-solid fa-arrow-right "></i></button>

             </div>
        </div>
    </div>

</div>